@use '@scss/colors' as *;
@use '@scss/fonts' as *;

.eventDetail {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px 16px;

  .eventDescription {
    display: flex;
    flex-direction: column;

    &__description {
      color: $rindus-medium-gray;
      @include text($font-poppins-regular);
      font-size: 16px;
      width: 100%;
      line-height: 22px;

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__location {
      width: 300px;

      .eventDescription__link {
        @include text($font-poppins-regular);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .eventDescription__title {
          color: $rindus-dark-gray;
          margin: 0;
          font-size: 14px;
          line-height: 16px;
        }

        .eventDescription__subtitle {
          color: $rindus-medium-gray;
          margin: 0;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    &__button-container {
      position: fixed;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 233px;
    }

    &__button {
      background-color: $rindus-green;
      height: 40px;
      padding: 8px 16px 8px 16px;
      border-radius: 32px;

      display: flex;
      text-decoration: none;

      .iconWithText {
        gap: 9px;
      }

      .iconWithText__title {
        @include text($font-poppins-regular);

        font-size: 16px;
        line-height: 22px;
        font-weight: 700;

        color: $rindus-off-white;

        p {
          margin: 0;
        }
      }
    }
  }
}
