@use '@/assets/scss/_colors.scss' as *;
@use '@/assets/scss/_fonts.scss' as *;

.tag {
  @include text($font-poppins-regular, 12px, 400, 16px);

  padding: 0px 8px;
  border-radius: 4px;
  border: 1px solid var(--Gray-Neutral, #a5a5aa);
  color: var(--Gray-Neutral, #a5a5aa);
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
