@import '@/assets/scss/_fonts.scss';
@import '@/assets/scss/_colors.scss';

.user-card {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  border-bottom: 1px solid $rindus-light-gray;

  &__info {
    color: var(--Gray-Dark, #303140);
    text-align: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__info-name {
    @include text($font-poppins-regular, 16px, 600, 22px);
  }

  &__info-position {
    @include text($font-poppins-regular, 14px, 400, 16px);
    color: var(--Gray-Medium, #6e768d);
  }
}
