@import '@/assets/scss/_fonts.scss';

.searchbox {
  display: flex;
  padding: 20px 16px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 52px;

  &__input {
    display: flex;
    height: 52px;
    padding: 0px 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #f7f8fc;
    border: none;
    width: 100%;
    text-indent: 38px;
    outline: none;
    color: var(--Gray-Medium, #6e768d);

    input::placeholder {
      @include text($font-poppins-regular, 16px, 400, 22px);
      color: #303140;
      font-style: normal;
    }
  }
  &__icon {
    left: 34px;
    position: absolute;
  }
}
