@use '@scss/colors' as *;
@use '@scss/fonts' as *;

.tabPanel {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__button-container {
    display: flex;
    gap: 24px;
    padding: 20px 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid $rindus-light-gray;
  }

  &__button {
    position: relative;
    background: transparent;
    color: black;
    padding: 8px 16px;

    &--active {
      color: white;

      @include text($font-poppins-regular, 16px, 700, 22px);
    }
  }

  &__button-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: $rindus-green;
    mix-blend-mode: multiply;
  }

  &__content {
    flex: 1 1 auto;

    .content {
      height: 100%;
    }
  }
}
