@use '@scss/colors' as *;
@use '@scss/fonts' as *;

.profile-container {
  display: grid;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  .avatar {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    .avatar-tile {
      padding-bottom: 24px;
    }

    &__fullName {
      color: $rindus-dark-gray;
      text-align: center;
      @include text($font-poppins-regular, 16px, 600, 22px);
    }

    &__position {
      margin-top: 4px;
      color: $rindus-medium-gray;
      text-align: center;
      @include text($font-poppins-regular, 14px, 400, 16px);
    }
  }

  .information-container {
    padding: 16px;
    background-color: $rindus-off-white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .partner {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      border-bottom: 1px solid $rindus-light-gray;
      padding-bottom: 0px;
      align-self: stretch;
      padding-bottom: 16px;

      &__logo {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 4px;
        box-shadow:
          2px 2px 12px 0px rgba(0, 0, 0, 0.12),
          2px 2px 4px 0px rgba(0, 0, 0, 0.04);
      }

      &__info {
        display: flex;
        flex-direction: column;
        color: $rindus-medium-gray;
        gap: 4px;

        &__title {
          color: $rindus-medium-gray;
          @include text($font-poppins-regular, 12px, 400, 16px);
        }

        &__name {
          @include text($font-poppins-regular, 14px, 700, 16px);
          font-size: 14px;
          line-height: 16px;
          color: $rindus-medium-gray;
        }
      }
    }
    .account {
      display: flex;
      align-items: center;
      align-self: stretch;
      gap: 16px;
      color: $rindus-medium-gray;

      &__logo {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: flex-start;
        gap: 10px;
      }

      &__address {
        margin-right: 5px;
        font-family: $font-poppins-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        a {
          text-decoration: none;
          color: $rindus-medium-gray;
        }
      }

      &__link {
        text-decoration: none;
        color: $rindus-medium-gray;
        font-family: $font-poppins-regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }

  .languages {
    &__title-container {
      display: flex;
      color: $rindus-dark-gray;
      padding: 12px 16px;
      align-items: center;
      gap: 16px;
      border-bottom: 1px solid $rindus-light-gray;
    }
    &__title {
      color: $rindus-dark-gray;
      font-family: $font-poppins-regular;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
    &__tags-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;
      padding: 16px;
      width: 100%;
      gap: 12px;
    }
  }
}
