.avatar-picture {
  margin: 0;
  position: relative;
  overflow: hidden;

  &__img {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    width: 100%;
    height: 100%;
  }
  &__badge {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  &--small {
    width: 56px;
    height: 56px;
    border-radius: 56px;
  }

  &--medium {
    width: 72px;
    height: 72px;
    border-radius: 72px;
  }

  &--large {
    width: 104px;
    height: 104px;
    border-radius: 104px;
  }
}
