@import '@/assets/scss/_fonts.scss';
@import '@/assets/scss/_colors.scss';

.attendees {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  opacity: 0px;
  padding: 0px 0px 40px 0px;

  &__number {
    padding: 12px 0px 12px 0px;
    text-align: left;
    border-bottom: 1px solid $rindus-light-gray;

    @include text($font-poppins-regular, 16px, 400, 22px);
    color: var(--Gray-Dark, #303140);
  }

  &__display__container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    overflow-x: scroll;
    padding: 12px 0px 12px 0px;
    border: 0px 0px 1px 0px;
    gap: 24px;
    height: 120px;
    // width: 328px;
  }
}
