@import '@/assets/scss/_fonts.scss';

.avatar-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  gap: 4px;

  &__name {
    color: var(--Gray-Dark, #303140);
    text-align: center;
    padding: 4px;
    @include text($font-poppins-regular, 14px, 400, 16px);
  }
}
