@use '@scss/fonts' as *;

.logout_button {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;

  img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
}

.logout_button span {
  color: white;
}
