.avatar {
  position: relative;

  &__picture {
    margin: 0;
    overflow: hidden;

    &__img {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
      width: 100%;
      height: 100%;
    }

    &--small {
      width: 56px;
      height: 56px;
      border-radius: 56px;
    }

    &--medium {
      width: 72px;
      height: 72px;
      border-radius: 72px;
    }

    &--large {
      width: 104px;
      height: 104px;
      border-radius: 104px;

      @media screen and (min-width: 768px) {
        width: 204px;
        height: 204px;
        border-radius: 204px;
      }
    }
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    bottom: 0px;

    &--small {
      width: 24px;
      height: 24px;
      border-radius: 24px;

      img {
        width: 18px;
        height: 18px;
      }
    }

    &--medium {
      width: 28px;
      height: 28px;
      border-radius: 28px;

      img {
        width: 21px;
        height: 21px;
      }
    }

    &--large {
      width: 32px;
      height: 32px;
      border-radius: 32px;

      @media screen and (min-width: 768px) {
        width: 42px;
        height: 42px;
        border-radius: 42px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    &--cake {
      background: var(--Purple, #7578ea);
    }
    &--captain {
      background: var(--Green-Main, #4dd699);
    }
    &--captain {
      background: var(--Green-Main, #4dd699);
    }
    &--ok {
      background: var(--Green-Main, #4dd699);
      width: 21px;
      height: 21px;
    }
  }
}
