@use '@scss/colors' as *;

.tabPanel {
  &__button-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid $rindus-light-gray;
  }

  &__button {
    background: transparent;
    color: black;
    padding: 8px 16px;
    border-radius: 32px;
  }

  &__button--active {
    background: $rindus-green;
    color: white;
  }
}
