@import '@/assets/scss/_fonts.scss';
@import '@/assets/scss/_colors.scss';

.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__input {
    display: flex;
    height: 52px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: $rindus-off-white;
    border: none;
    width: 100%;
    text-indent: 46px;
    outline: none;
    color: $rindus-medium-gray;

    input::placeholder {
      @include text($font-poppins-regular, 16px, 400, 22px);
      color: #303140;
      font-style: normal;
    }
  }
  &__icon {
    left: 16px;
    position: absolute;
  }
}
