@use '@scss/colors' as *;
@use '@scss/fonts' as *;

.iconWithText {
  @include text($font-poppins-regular);
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__title {
    color: $rindus-dark-gray;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
  }
}
