.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  header {
    width: 100%;
    flex: 0 0 auto;
  }

  main {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .loader__container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}
