@import '@/assets/scss/_fonts.scss';

.attendees-tile {
  .attendees__container {
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  max-width: 72px;
  gap: 8px;


  &__name {
    color: var(--Gray-Dark, #303140);
    text-align: center;
    padding: 4px;
    @include text($font-poppins-regular, 14px, 400, 16px);
  }
}
