@import '@/assets/scss/_fonts.scss';

.avatar-tile {
  .avatar__container {
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  max-width: 104px;
  gap: 4px;

  @media screen and (min-width: 768px) {
    max-widtπh: 204px;
  }

  &__name {
    color: var(--Gray-Dark, #303140);
    text-align: center;
    padding: 4px;
    @include text($font-poppins-regular, 14px, 400, 16px);

    &--bold {
      @include text($font-poppins-regular, 14px, 600, 16px);
    }
  }
}
