//Toastify library
.Toastify__toast {
  &--error {
    background: #fae1e2;
  }
  &--info {
    background: #eceffa;
  }
  &--success {
    background: #f0f9fa;
  }
  &--warning {
    background: #fff3e7;
  }
}
