//Toastify library
.Toastify__toast {
  &--error {
    background: #fae1e2;
  }
  &--info {
    background: #eceffa;
  }
  &--success {
    background: #f0f9fa;
  }
  &--warning {
    background: #fff3e7;
  }
}

/* styles for fullscreen mode (PWA/shortcut) */
@media all and (display-mode: standalone) {
  .Toastify__toast {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px;

    &-body {
      padding: 20px;
    }
  }
}
