@use '@scss/colors' as *;

.eventSummary {
  display: flex;

  &__breakIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    img {
      width: 4px;
      height: 4px;
    }
  }

  &__survey {
    font-weight: 600;
    margin: 0px; // TODO: Revisar reset css

    .surveyFilled {
      color: $rindus-green-medium;
      display: flex;
    }
  }
}
