@use '@scss/colors' as *;

.eventSummary {
  display: flex;
  margin-left: 8px;

  &__breakIcon {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__onlineEvent {
    font-weight: 600;
    display: flex;
    color: $rindus-medium-gray;
  }
}
